[Unit]
Description=Run dokku-filelogs GC every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=dokku-filelogs.service

[Install]
WantedBy=timers.target
